<% if @new_book.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @new_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
 <% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
<div class="col-md-3">
<%= render 'user_sidebar', user: @book.user ,book: @new_book%>
</div>


<div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@book.user) do %>
          <% if @book.user.profile_image.attached? %>
            <%= image_tag @book.user.profile_image.variant(resize_to_limit: [80, 80]) %><br>
          <% else %>
            <%= image_tag "default.jpg", size: "80x80" %><br>
          <% end %>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to @book.title, book_path(@book) %>
      </td>
      <td>
        <%= @book.body %>
      </td>
      <td>
        <% if @book.favorited_by?(current_user) %>
      <p>
      <%= link_to book_favorite_path(@book), method: :delete do %>
        ♥<%= @book.favorites.count %> いいね
      <% end %>
      </p>
    <% else %>
    <p>
      <%= link_to book_favorite_path(@book), method: :post do %>
        ♡<%= @book.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
      </td>
      <td>
       <% if current_user == @book.user %>
        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
        <%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-success" %>
       <% end %>
       <p>コメント件数: <%= @book.book_comments.count %></p>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <% @book.book_comments.each do |book_comment| %>
    <% if book_comment.user.profile_image.attached? %>
      <%= image_tag book_comment.user.profile_image.variant(resize_to_limit: [80, 80]) %><br>
    <% else %>
      <%= image_tag "default.jpg", size: "80x80" %><br>
    <% end %>
    <% if current_user == book_comment.user %>
      <%= link_to "Destroy", book_book_comment_path(@book,book_comment), method: :delete, class:"btn btn-sm btn-success" %>
    <% end %>
    <%= book_comment.comment %>
    <br>
  <% end %>
</div>
<div>
  <%= form_with model: [@book,@book_comment], local: true do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
</div>
</div>